{%load static%}

     <footer class="footer">
        <div class="container-fluid">
        <div class="row">
        <div class="col-sm-6">
        <script>document.write(new Date().getFullYear())</script> © 
        <a target="_blank" href="https://www.inovasyonajans.com"> İnovasyon Ajans.</a>
        </div>

        <div class="col-sm-6">
        <div class="text-sm-end d-none d-sm-block">
        Tüm hakları saklıdır.
        </div>
        </div>
        </div>
        </div>
        </footer>
        </div>
        </div>
        
        <div class="rightbar-overlay"></div>
        <script src="{% static 'assets/libs/jquery.repeater/jquery.repeater.min.js'%}"></script>
        <script src="{% static 'assets/js/pages/form-repeater.int.js'%}"></script>
        <script src="{% static 'assets/libs/jszip/jszip.min.js'%}"></script>
        <script src="{% static 'assets/libs/pdfmake/build/pdfmake.min.js'%}"></script>
        <script src="{% static 'assets/libs/pdfmake/build/vfs_fonts.js'%}"></script>
        <script src="{% static 'assets/libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
        <script src="{% static 'assets/libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
        <script src="{% static 'assets/libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
        <script src="{% static 'assets/js/pages/datatables.init.js'%}"></script>    
        <script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
        <script src="{% static 'assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>
        <script src="{% static 'assets/libs/jquery/jquery.min.js'%}"></script>
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'assets/libs/metismenu/metisMenu.min.js'%}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js'%}"></script>
        <script src="{% static 'assets/libs/node-waves/waves.min.js'%}"></script>
        <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js'%}"></script>
        <script src="{% static 'assets/js/pages/dashboard.init.js'%}"></script>
        <script src="{% static 'assets/js/app.js'%}"></script>
        <script src="{% static 'assets/libs/jquery-steps/build/jquery.steps.min.js'%}"></script>
        <script src="{% static 'assets/js/pages/form-wizard.init.js'%}"></script>
        <script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
        <script src="{% static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
        <script src="{% static 'assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
        <script src="{% static 'assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
        <script src="{% static 'assets/libs/tinymce/tinymce.min.js'%}"></script>
        <script src="{% static 'assets/js/pages/form-editor.init.js'%}"></script>
        </body>
        </html> 