        <!doctype html>
        <html lang="en">

        <head>
            
        <meta charset="utf-8" />
        <title>iş Planım!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="iş Planım" name="description" />
        <meta content="İnovasyon Ajans" name="author" />
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
        </head>

        <body>
        <div class="account-pages my-5 pt-sm-5">
        <div class="container">
        <div class="row justify-content-center">
        <div class="row">
        
        <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
        
        <div class="alert alert-danger" role="alert">
        Üyeliğinizin Lisansı süresi bitti. Üyeliğinizi yenilemek için Ödeme Ekranından ödemenizi gerçekleştirip giriş yapabilirsiniz.</div>

        <div id="basic-example">
        <h3>Üye Bilgileri</h3>
        <section>
        
        <form>
        <div class="row">
        <div class="col-lg-6">
        <div class="mb-3">
        <label for="basicpill-firstname-input">Adı Soyadı</label>
        <input type="text" class="form-control" id="basicpill-firstname-input" placeholder="Burak Güngör">
        </div>
        </div>
        
        <div class="col-lg-6">
        <div class="mb-3">
        <label for="basicpill-lastname-input">Mail</label>
        <input type="email" class="form-control" id="basicpill-lastname-input" placeholder="burak@burakgungor.com.tr">
        </div>
        </div>
        </div>

        <div class="row">
        <div class="col-lg-6">
        <div class="mb-3">
        <label for="basicpill-phoneno-input">Telefon</label>
        <input type="text" class="form-control" id="basicpill-phoneno-input" placeholder="0 542 533 33 83">
        </div>
        </div>
        
        <div class="col-lg-6">
        <div class="mb-3">
        <label for="basicpill-email-input">Mesleğiniz</label>
        <input type="text" class="form-control" id="basicpill-email-input" placeholder="Yazılım">
        </div>
        </div>


        </div>
        </form>
        </section>

        <h3>Ödeme Ekranı</h3>
        <section>
        <div>
        <form>
        <div class="row">
        

        Iyzico Ödeme Ekranı eklenecek.
        
        </div>
                                                       
                                                      
        </form>
        </div>
        </section>

        </div>
        </div>
        </div>
        </div>
        </div>

        <div class="mt-4 text-center">
        <a href="giris.php" class="text-muted"><i class="mdi mdi-lock me-1"></i> 
        GİRİŞ YAP</a>
        </div>
        </div>
        </div>
        </div>

        <!-- JAVASCRIPT -->
       <script src="assets/libs/jquery/jquery.min.js"></script>
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/node-waves/waves.min.js"></script>

        <!-- jquery step -->
        <script src="assets/libs/jquery-steps/build/jquery.steps.min.js"></script>

        <!-- form wizard init -->
        <script src="assets/js/pages/form-wizard.init.js"></script>

        <script src="assets/js/app.js"></script>
        </body>
        </html>



        <div class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="myExtraLargeModalLabel">ÜYELİK SÖZLEŞMESİ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                                         
        </div>
        </div>
        </div>
        </div>