{%load static%}
{% include "pages/header.html" %}

      

        <div class="main-content">
        <div class="page-content">
        <div class="container-fluid">
        
        <a href="{{url}}isplaniolustur/">
        <button type="button" class="btn btn-success waves-effect btn-label waves-light">
        <i class="bx bx-plus-medical label-icon"></i> YENİ EKLE</button></a><br><br>
        {% include 'pages/messages.html' %}


        {% for i in items %}
        <div class="row"> 
                <div class="col-xl-4 col-sm-6">
                <div class="card">
                <div class="card-body">
                <div class="d-flex">
                <div class="flex-shrink-0 me-4">
                <div class="avatar-md">
                <span class="avatar-title rounded-circle bg-light text-danger font-size-16">
                <img src="{% static 'assets/images/companies/img-1.png'%}" alt="" height="30">
                </span>
                </div>
                </div>
                                 
                <div class="flex-grow-1 overflow-hidden">
                <h5 class="text-truncate font-size-15"><a href="javascript: void(0);" class="text-dark">{{i.projeninadi}}</a></h5>
                <p class="text-muted mb-4">{{i.projeninkisatanimi}}</p>
                <p class="text-muted mb-4">{{i.id}}</p>
                
                </div>
                </div>
                </div>
                
                <div class="px-4 py-3 border-top">
                <ul class="list-inline mb-0">
                
                <li class="list-inline-item me-3">
                <i class= "bx bx-calendar me-1"></i> {{i.date}}</li>
                    
                <li class="list-inline-item me-3">
                <i class= "bx bx-check-shield me-1"></i>  {{i.isletmeadi}}</li>
                <script type="text/javascript">
                        function projesil(id)
                        {
                           window.location = '{{url}}projesil/'+id;
                        }
                        </script>
                        
                        <input type="button" name="theButton" value="Sil" onclick="projesil('{{i.id}}');">
                        <input type="button" name="theButton" value="Düzenle" onclick="projeduzenle('{{i.id}}');">

                        <script type="text/javascript">
                                function projeduzenle(id)
                                {
                                   window.location = '{{url}}projeduzenle/'+id;
                                }
                                </script>
                                
                </ul>
                </div>
                </div>
                </div>
        
        
        
                </div>
          
        {% endfor %}


        

    
                        
        </div>
        </div>

        {% include "pages/footer.html" %}
