        <!doctype html>
        <html lang="en">
        <head>
            {%load static%}

        <meta charset="utf-8" />
        <title>İş Planım</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="İş Planım" name="description" />
        <meta content="İnovasyon Ajans" name="author" />
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico'%}">
        <link href="{% static 'assets/css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/icons.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/app.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />
        </head>

        <body>
        <div class="account-pages my-5 pt-sm-5">
        <div class="container">
        <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
        <div class="bg-primary bg-soft">
        <div class="row">
        <div class="col-7">
        <div class="text-primary p-4">
        <h5 class="text-primary"> Şifremi Unuttum</h5>
        <p>Şifrenizi yenileme sayfası.</p>
        </div>
        </div>
        
        <div class="col-5 align-self-end">
        <img src="{ % static 'assets/images/profile-img.png' %}" alt="" class="img-fluid">
        </div>
        </div>
        </div>
        
        <div class="card-body pt-0"> 
        <div>
        <div class="avatar-md profile-user-wid mb-4">
        <span class="avatar-title rounded-circle bg-light">
        <img src="{% static 'images/favicon.png' %}" class="rounded-circle" height="34">
        </span> </div> </div>
                                
        <div class="p-2">
        <div class="alert alert-success text-center mb-4" role="alert">
        E-posta adresinizi girin, şifreniz mailinize gönderilecektir!
        </div>
                                   
        <div class="mb-3">
        <label for="useremail" class="form-label">Email</label>
        <input type="email" class="form-control" id="useremail" placeholder="Mail adresinizi giriniz.">
        </div>
                    
        <div class="text-end">
        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">ŞİFREMİ YENİLE</button>
        </div>
    
        </div>
        </div>
        </div>
        
        <center><p><a href="{{url}}giris/" class="fw-medium text-primary"> Giriş Sayfasına Geri Dön</a> </p></center>

        <div class="mt-5 text-center">
        <p>© <script>document.write(new Date().getFullYear())</script>
        <a target="_blank" href="https://www.inovasyonajans.com"> İnovasyon Ajans</a></p>
        </div>

        </div>
        </div>
        </div>
        </div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
        
        <!-- App js -->
        <script src="{% static 'assets/js/app.js' %}"></script>
    </body>
</html>
