{%load static%}

{% include "pages/header.html" %}

    <div class="main-content">
    <div class="page-content">
    <div class="container-fluid">


    <div class="row">
    <div class="col-xl-9 col-lg-8">
    <div class="card">

    <div>
    <div class="row justify-content-center">
        
   
    <div>
                                       
    <div class="col-xl-12">
   
                                                                        


        
    <iframe width="1260" height="709" src="{{ex.link}}"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>                                                                     
   
    </div>
    

    </div>

    </div>
    </div>
                                       

    </div>
    </div>

    <div class="col-xl-3 col-lg-4">
    <div class="card">
    <div class="card-body p-4">

    <label>{{ex.baslik}}</label>

    <hr class="my-4">

    <div>
    <p class="text-muted">{{ex.aciklama}}</p>
    </div>


    </div>
    </div>
    </div>
    </div>
    
    </div> 
    </div>
      


    {% include "pages/footer.html" %}
