{%load static%}

{% include "pages/admin/adminheader.html" %}


        
        
        <div class="main-content">
        <div class="page-content">
        <div class="container-fluid">
        

        <div class="card">
        <div class="card-body">
        <div class="table-responsive">
        <table class="table align-middle table-nowrap mb-0">
        <thead class="table-light">
        <tr>
     
        <th width="50" class="align-middle">ID</th>
        <th class="align-middle">Kullanıcı Adı Soyadı</th>
        <th width="50" class="align-middle">Durumu</th>
        <th width="50" class="align-middle"></th>
        </tr>
        </thead>
        <tbody>
        

        <tr>
        <td><a href="javascript: void(0);" class="text-body fw-bold">#40</a> </td>
        <td>Kullanıcı Adı Soyadı</td>
        <td>Okundu</td>
        <td>
        <a href="admindestekmesaj.php">
        <button class="btn btn-primary"><i class="bx bx-zoom-in" style="font-size: 18px;"></i></button></a>
        </td>
        </tr>

        <tr>
        <td><a href="javascript: void(0);" class="text-body fw-bold">#40</a> </td>
        <td>Kullanıcı Adı Soyadı</td>
        <td>Okunmadı</td>
        <td>
        <a href="admindestekmesaj.php">
        <button class="btn btn-primary"><i class="bx bx-zoom-in" style="font-size: 18px;"></i></button></a>
        </td>
        </tr>

       
                                                    
        </tbody>
        </table>
        </div>
        </div>
        </div>





        </div>
        </div>
        </div>
        </div>
           

               
        {% include "pages/footer.html" %}
