{%load static%}



{% include "pages/admin/adminheader.html" %}
        
        
        <div class="main-content">
        <div class="page-content">
        <div class="container-fluid">
        




        <div class="card">
        <div class="card-body">
        <h4 class="card-title mb-4">Üyelerin Ekledikleri İş Planları</h4>
        <div class="table-responsive">
        <table class="table align-middle table-nowrap mb-0">
        <thead class="table-light">
        <tr>
     
        <th class="align-middle">ID</th>
        <th class="align-middle">Üye Adı Soyadı</th>
        <th class="align-middle">Proje Adı</th>
        <th class="align-middle">Eklenme Tarihi</th>
        <th width="50" class="align-middle"></th>
        </tr>
        </thead>
        <tbody>
        
                {% for i in items %}
                <tr>
                <td><a href="javascript: void(0);" class="text-body fw-bold">{{i.id}}</a> </td>
                <td>{{i.username}}</td>
                <td>{{i.projeninadi}}</td>
                <td>{{i.tarih}}</td>
                <td>
                <a href="">
                        <input type="button" name="theButton" value="Gör" onclick="projeduzenle('{{i.id}}');">

                        <script type="text/javascript">
                                function projeduzenle(id)
                                {
                                   window.location = '{{url}}admin2isplangor/'+id;
                                }
                                </script>                </td>
                </tr>
                {% endfor %}
        
                                                 
        </tbody>
        </table>
        </div>
        </div>
        </div>





        </div>
        </div>
        </div>
        </div>
           

               
        {% include "pages/footer.html" %}
