{%load static%}

{% include "pages/admin/adminheader.html" %}


        
    <div class="main-content">
    <div class="page-content">
    <div class="container-fluid">

    

    <div class="w-100 user-chat">
    <div class="card">
  
    <div>
    <div class="chat-conversation p-3">
    <ul class="list-unstyled mb-0" data-simplebar style="max-height: 486px;">
    <li> 
    <div class="chat-day-title">
    <span class="title">Tarih</span>
    </div>
    </li>
    <li>
    
    <div class="conversation-list">
    <div class="ctext-wrap">
    <div class="conversation-name">Üye Adı Soyadı</div>
    <p>Hello!</p>
    <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:00</p>
    </div>
    </div>
    </li>
    
    <li class="right">
    <div class="conversation-list">

    <div class="ctext-wrap">
    <div class="conversation-name">Admin Adı Soyadı</div>
    <p>Hi, How are you? What about our next meeting?</p>
    <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:02</p>
    </div>
    </div>
    </li>
    
    <li>
    <div class="conversation-list">
    <div class="ctext-wrap">
    <div class="conversation-name">Üye Adı Soyadı</div>
    <p>Yeah everything is fine</p>
    <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:06</p>
    </div>
    </div>
    </li>
    
    <li class="last-chat">
    <div class="conversation-list">
    <div class="ctext-wrap">
    <div class="conversation-name">Üye Adı Soyadı</div>
    <p>& Next meeting tomorrow 10.00AM</p>
    <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:06</p>
    </div>
    </div>
    </li>
    
    <li class=" right">
    <div class="conversation-list">
    <div class="ctext-wrap">
    <div class="conversation-name">Henry Wells</div>
    <p>Wow that's great</p>
    <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:07</p>
    </div>
    </div>
    </li>
                                                
    </ul>
    </div>
    

    <div class="p-3 chat-input-section">
    <div class="row">
    <div class="col">
    <div class="position-relative">
    <input type="text" class="form-control chat-input" placeholder="Mesajınızı yazınız...">
    
    <div class="chat-input-links" id="tooltip-container">
    <ul class="list-inline mb-0">
    
    <li class="list-inline-item"><a href="javascript: void(0);" title="Images"><i class="mdi mdi-file-image-outline"></i>
    </a></li>
    <li class="list-inline-item"><a href="javascript: void(0);" title="Add Files"><i class="mdi mdi-file-document-outline">
    </i></a></li>
    </ul>
    </div>
    </div>
    </div>
    
    <div class="col-auto">
    <button type="submit" class="btn btn-primary btn-rounded chat-send w-md waves-effect waves-light"><span class="d-none d-sm-inline-block me-2">Gönder</span> <i class="mdi mdi-send"></i></button>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    </div>
    </div> 
    </div>
               
    {% include "pages/footer.html" %}
