
        <div class="card">
        <div class="col-xl-12">
        <div class="button-items">

        <a href="admin.php">
        <button type="button" class="btn btn-primary waves-effect waves-light w-sm">
        <i class="bx bx-home-circle d-block font-size-16"></i> ADMİN ANASAYFA</button></a>

        <a href="adminisplanimnedir.php">
        <button type="button" class="btn btn-primary waves-effect waves-light w-sm">
        <i class="bx bx-edit-alt d-block font-size-16"></i> İŞ PLANIM NEDİR</button></a>

        <a href="adminisplanlari.php">
        <button type="button" class="btn btn-primary waves-effect waves-light w-sm">
        <i class="bx bx-sticker d-block font-size-16"></i> İŞ PLANLARI</button></a>

        <a href="adminfinansalanalizler.php">
        <button type="button" class="btn btn-primary waves-effect waves-light w-sm">
        <i class="bx bx-check-shield d-block font-size-16"></i> FİNANSAL ANALİZLER</button></a>

        <a href="adminuyeler.php">
        <button type="button" class="btn btn-primary waves-effect waves-light w-sm">
        <i class="bx bx-user-voice d-block font-size-16"></i> ÜYELER</button></a>

        <a href="adminvideo.php">
        <button type="button" class="btn btn-primary waves-effect waves-light w-sm">
        <i class="bx bx-video-recording d-block font-size-16"></i> VİDEOLAR</button></a>

        <a href="adminornekplanlar.php">
        <button type="button" class="btn btn-primary waves-effect waves-light w-sm">
        <i class="bx bx-caret-right d-block font-size-16"></i> ÖRNEK PROJELER</button></a>

        <a href="adminslider.php">
        <button type="button" class="btn btn-primary waves-effect waves-light w-sm">
        <i class="bx bx-photo-album d-block font-size-16"></i> SLİDER</button></a>

        <a href="adminblog.php">
        <button type="button" class="btn btn-primary waves-effect waves-light w-sm">
        <i class="bx bx-news d-block font-size-16"></i> BLOG</button></a>

        <a href="admindestek.php">
        <button type="button" class="btn btn-primary waves-effect waves-light w-sm">
        <i class="bx bx-news d-block font-size-16"></i> DESTEK MERKEZİ</button></a>

        <a href="adminayarlar.php">
        <button type="button" class="btn btn-primary waves-effect waves-light w-sm">
        <i class="bx bx-reset d-block font-size-16"></i> GENEL AYARLAR</button></a>
                                                     
        </div>
        </div>    
        </div>