
        {%load static%}

        
        
        {% include "pages/admin/adminheader.html" %}
                
        <div class="main-content">
        <div class="page-content">
        <div class="container-fluid">
        


        <div class="card">
        <a href="{{url}}admin2videoekle/">
        <button class="btn btn-danger">YENİ EKLE</button></a>
        <div class="card-body">
        <div class="table-responsive">
        <table class="table align-middle table-nowrap mb-0">
        <thead class="table-light">
        <tr>
     
        <th class="align-middle">ID</th>
        <th class="align-middle">Başlık</th>
        <th width="50" class="align-middle"></th>
        </tr>
        </thead>
        <tbody>
        
                {% for i in ex %}

        <tr>
        <td><a href="javascript: void(0);" class="text-body fw-bold">#40</a> </td>
        <td>{{i.baslik}}</td>
        <td>
        <center>
                
                <a href="{{url}}videodetay/{{i.id}}" class="btn btn-primary waves-effect waves-light">İzle</a>
                <a href="{{url}}admin2videosil/{{i.id}}" class="btn btn-primary waves-effect waves-light">Sil</a>
        </center>
        </td>
        </tr>
        {% endfor %}

       
                                                    
        </tbody>
        </table>
        </div>
        </div>
        </div>





        </div>
        </div>
        </div>
        </div>
           

               
        {% include "pages/footer.html" %}
