{%load static%}



{% include "pages/admin/adminheader.html" %}
        
        <div class="main-content">
        <div class="page-content">
        <div class="container-fluid">

        
        
        <div class="row">
        <div class="col-12">
        <div class="card">
        <div class="card-body">
        
        <div class="col-sm-6">
      
        </div>
        <br>
        <form  action ="{{url}}admin2videoekle/" method="post" enctype="multipart/form-data">
                {% csrf_token %}

        <div class="mb-3 row">
        <label for="example-text-input" class="col-md-2 col-form-label">Video Başlığı</label>
        <div class="col-md-10">
        <input class="form-control" name="baslik" type="text" id="example-text-input">
        </div>
        </div>
        <div class="mb-3 row">
                <label for="example-text-input" class="col-md-2 col-form-label">Açıklama</label>
                <div class="col-md-10">
                <input class="form-control" name="aciklama" type="text" id="example-text-input">
                </div>
                </div>
                


        <div class="mb-3 row">
        <label for="example-search-input" class="col-md-2 col-form-label">Video url</label>
        <div class="col-md-10">
        <input class="form-control" name="url" type="text" id="example-search-input">
        </div>
        </div>
        
        <br>
        <button class="btn btn-danger">KAYDET</button>                       


        </div>
        </div>
        </div> 
        </div>
                    

        </div> 
        </div>
        
        {% include "pages/footer.html" %}
